/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

body,
html {
  max-height: 5000px !important;
}
.btn,
.composition__photo,
.header__social-icon,
.text-box {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.feature-box,
.primery-title {
  text-transform: uppercase;
  text-wrap: nowrap;
}
.bg__video,
.card__side,
.header,
.popup__left {
  overflow: hidden;
}
.btn,
.btn-secondary,
.card__details ul,
.navigation__link,
.popup__close {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 6.5px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 12px;
  }
}
body {
  max-width: 1600px;
  padding: 3rem;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fff;
  font-family: Nato, sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
}
section {
  padding: 8rem 10rem;
  min-height: 80vh;
  max-width: 100%;
  margin-top: -12.5rem;
  -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0 100%);
  clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0 100%);
}
@media (max-width: 1200px) {
  section {
    padding-top: 24rem;
    margin-top: -24rem;
  }
}
@media (max-width: 900px) {
  body {
    padding: 0;
  }
  section {
    margin: 0;
    padding: 5rem;
    -webkit-clip-path: none !important;
    clip-path: none !important;
  }
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  section {
    margin-top: -12rem;
  }
}
@-webkit-keyframes main-img-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes main-img-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes main-img-anim-phone {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-img-anim-phone {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveLeftoRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes moveLeftoRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveRightoLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  60% {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes moveRightoLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  60% {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes webDevAnim {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
@keyframes webDevAnim {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
@-webkit-keyframes cursor-anim {
  0%,
  100% {
    border-right: 6px solid #fff;
  }
  50% {
    border-right: 6px solid transparent;
  }
}
@keyframes cursor-anim {
  0%,
  100% {
    border-right: 6px solid #fff;
  }
  50% {
    border-right: 6px solid transparent;
  }
}
@-webkit-keyframes btnMoveUp {
  0% {
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes btnMoveUp {
  0% {
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes bulb {
  0% {
    color: #470034;
  }
  50% {
    color: #ff06ff;
  }
}
@keyframes bulb {
  0% {
    color: #470034;
  }
  50% {
    color: #ff06ff;
  }
}
@-webkit-keyframes bulb-2 {
  0% {
    fill: #a91079;
    color: #777;
  }
  50% {
    fill: rgb(255, 6, 255);
    color: #e2e2e2;
  }
}
@keyframes bulb-2 {
  0% {
    fill: #a91079;
    color: #777;
  }
  50% {
    fill: rgb(255, 6, 255);
    color: #e2e2e2;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@-webkit-keyframes featureBoxAnim {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
@keyframes featureBoxAnim {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
@-webkit-keyframes social-anim {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes social-anim {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes social-anim-gitHub {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(10rem, -10rem);
    transform: translate(10rem, -10rem);
  }
}
@keyframes social-anim-gitHub {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(10rem, -10rem);
    transform: translate(10rem, -10rem);
  }
}
@-webkit-keyframes social-anim-linkedIn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(14rem, -2rem);
    transform: translate(14rem, -2rem);
  }
}
@keyframes social-anim-linkedIn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(14rem, -2rem);
    transform: translate(14rem, -2rem);
  }
}
@-webkit-keyframes social-anim-instagram {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(12.5rem, 7rem);
    transform: translate(12.5rem, 7rem);
  }
}
@keyframes social-anim-instagram {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(12.5rem, 7rem);
    transform: translate(12.5rem, 7rem);
  }
}
@-webkit-keyframes contact-anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@keyframes contact-anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@-webkit-keyframes git-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@keyframes git-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@-webkit-keyframes linkedIn-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@keyframes linkedIn-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@-webkit-keyframes insta-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@keyframes insta-anim-phone {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 1;
  }
}
.navigation {
  z-index: 100000;
}
.navigation__checkbox {
  visibility: hidden;
  display: none;
  z-index: 10000;
}
.navigation__btn {
  cursor: pointer;
  position: fixed;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  left: 6rem;
  background-color: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 20000;
}
.navigation__background {
  background-image: -o-radial-gradient(#322486, #030637, #000);
  background-image: radial-gradient(#322486, #030637, #000);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 5000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  height: 100vh;
  width: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
}
.navigation__list {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 900;
  text-align: center;
  list-style: none;
}
.form,
.header,
.navigation__icon {
  position: relative;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  background-image: -o-linear-gradient(
    330deg,
    transparent 0,
    transparent 50%,
    #fff 50%
  );
  background-image: linear-gradient(
    120deg,
    transparent 0,
    transparent 50%,
    #fff 50%
  );
  background-size: 235%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.navigation__link:active,
.navigation__link:hover {
  background-position: 100%;
  color: #470034;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  width: 100%;
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(60);
  -ms-transform: scale(60);
  transform: scale(60);
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1rem;
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -1rem;
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
  background-color: transparent;
}
.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  display: inline-block;
  background-color: #3b3b3b;
  width: 3rem;
  height: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-white,
.btn-white::after {
  background-color: #fff;
}
.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__btn:hover .navigation__icon::after {
  -webkit-transform: translateY(0.2rem);
  -ms-transform: translateY(0.2rem);
  transform: translateY(0.2rem);
}
.navigation__btn:hover .navigation__icon::before {
  -webkit-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
}
.header {
  height: 95vh;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#000),
    to(#2e0249)
  );
  background-image: -o-linear-gradient(left top, #000, #2e0249);
  background-image: linear-gradient(to right bottom, #000, #2e0249);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.header__social-icon {
  position: absolute;
  right: 28rem;
  top: 25rem;
  width: 4rem;
  height: 4rem;
  fill: gray;
  color: gray;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.btn::after,
.main-img,
.text-box {
  position: absolute;
}
.header__social-icon-outside {
  fill: currentColor !important;
}
.header__social-icon-outside:hover,
.header__social-icon:hover {
  fill: rgb(192, 192, 192) !important;
}
.git-hub:hover,
.instagram:hover,
.linked-in:hover {
  fill: rgb(192, 192, 192);
}
.header__social-icon-inside {
  fill: rgb(0, 0, 0) !important;
}
.main-img {
  width: 25rem;
  right: 17rem;
  top: 15rem;
  background-size: contain;
  -webkit-animation: 1.5s ease-in-out main-img-anim;
  animation: 1.5s ease-in-out main-img-anim;
}
.git-hub,
.git-hub:hover {
  -webkit-transform: translate(10rem, -10rem);
  -ms-transform: translate(10rem, -10rem);
  transform: translate(10rem, -10rem);
}
.git-hub {
  -webkit-animation: 1.5s ease-in social-anim,
    1.5s ease-in 0.5s social-anim-gitHub;
  animation: 1.5s ease-in social-anim, 1.5s ease-in 0.5s social-anim-gitHub;
  z-index: 1000;
  cursor: pointer;
}
.linked-in,
.linked-in:hover {
  -webkit-transform: translate(14rem, -2rem);
  -ms-transform: translate(14rem, -2rem);
  transform: translate(14rem, -2rem);
}
.linked-in {
  z-index: 1000;
  -webkit-animation: 1.5s ease-in social-anim,
    1.5s ease-in 0.5s social-anim-linkedIn;
  animation: 1.5s ease-in social-anim, 1.5s ease-in 0.5s social-anim-linkedIn;
}
.instagram,
.instagram:hover {
  -webkit-transform: translate(12.5rem, 7rem);
  -ms-transform: translate(12.5rem, 7rem);
  transform: translate(12.5rem, 7rem);
}
.instagram {
  z-index: 10;
  -webkit-animation: 1.5s ease-in social-anim,
    1.5s ease-in 0.5s forwards social-anim-instagram;
  animation: 1.5s ease-in social-anim,
    1.5s ease-in 0.5s forwards social-anim-instagram;
}
.text-box {
  top: 30%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.btn,
.composition {
  position: relative;
}
.primery-title {
  color: #fbfcc5;
}
.primery-title--main {
  font-size: 6rem;
  display: block;
  letter-spacing: 2rem;
  -webkit-animation-name: moveLeftoRight;
  animation-name: moveLeftoRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.footer-item,
.primery-title--sub,
.primery-title--sub-content {
  display: inline-block;
}
@media (max-width: 600px) {
  .primery-title--main {
    letter-spacing: 1rem;
    font-size: 10rem;
  }
}
.primery-title--sub {
  color: #b8b8b8;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.8rem;
  -webkit-animation: 1.5s ease-out moveRightoLeft;
  animation: 1.5s ease-out moveRightoLeft;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  line-height: 3rem;
}
.primery-title--sub-wrapper {
  border-right: 6px solid #fff;
  display: inline-block;
  overflow: hidden;
  margin-right: auto;
}
.heading-secondary-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 6rem 0;
}
.btn,
.btn::after {
  display: inline-block;
}
.heading-secondary {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--a)),
    color-stop(#030637),
    to(#ff06ff)
  );
  background-image: -o-linear-gradient(var(--a), #030637, #ff06ff);
  background-image: linear-gradient(var(--a), #030637, #ff06ff);
  -webkit-animation: 6s linear infinite featureBoxAnim;
  animation: 6s linear infinite featureBoxAnim;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: normal;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  cursor: pointer;
}
.header-thertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: 7s linear infinite both bulb-2;
  animation: 7s linear infinite both bulb-2;
}
.paragraph {
  font-size: 1.6rem;
  color: #a8a8a8;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.btn {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 3.6rem;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s,
    -webkit-box-shadow 0.5s;
  will-change: transform;
}
.btn-white {
  color: #777;
  font-size: 1.6rem;
}
.btn-blue,
.btn-blue::after,
.btn-secondary:hover {
  background-color: #470034;
}
.btn-blue {
  color: #fff;
  font-size: 1.6rem;
}
.btn--animated {
  -webkit-animation: 1s ease-out 0.75s backwards btnMoveUp;
  animation: 1s ease-out 0.75s backwards btnMoveUp;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.6) scaleY(1.6);
  -ms-transform: scaleX(1.6) scaleY(1.6);
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-secondary-box {
  display: block;
}
.btn-secondary {
  background-color: transparent;
  font-size: 1.6rem;
  color: #470034;
  display: inline-block;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #ff06ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: 7s infinite both bulb;
  animation: 7s infinite both bulb;
}
.btn-secondary:hover {
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.25);
  color: #fff;
  -webkit-animation: none;
  animation: none;
}
.btn-secondary:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, 0.1);
  -webkit-animation: none;
  animation: none;
}
.section-about {
  background-color: #11122b;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.section-about__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.composition {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  -webkit-transition: opacity 0.2s, outline 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, outline 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s, outline 0.2s;
  transition: transform 0.2s, opacity 0.2s, outline 0.2s;
  transition: transform 0.2s, opacity 0.2s, outline 0.2s, -webkit-transform 0.2s;
  z-index: 10;
  outline-offset: 2rem;
  outline: rgba(0, 0, 0, 0) solid 1.5rem;
}
.card,
.feature-box {
  position: relative;
  cursor: pointer;
}
@media (max-width: 900px) {
  .navigation__item {
    margin: 0 0 5rem;
  }
  .navigation__link {
    font-size: 4rem;
    font-weight: 500;
  }
  .navigation__link:active,
  .navigation__link:hover {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  .header {
    -webkit-clip-path: none;
    clip-path: none;
    height: 100vh;
  }
  .header__social {
    width: 100%;
    gap: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 65vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__social-icon {
    width: 6rem;
    height: 6rem;
    position: static;
    margin-top: 2.5rem;
  }
  .git-hub {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation: 0.5s forwards git-anim-phone;
    animation: 0.5s forwards git-anim-phone;
    z-index: 10;
  }
  .linked-in {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation: 1s forwards linkedIn-anim-phone;
    animation: 1s forwards linkedIn-anim-phone;
    z-index: 10;
  }
  .instagram {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation: 1.5s forwards insta-anim-phone;
    animation: 1.5s forwards insta-anim-phone;
    z-index: 10;
  }
  .text-box {
    top: 30%;
  }
  .heading-secondary-box {
    margin: 5rem 0;
  }
  .heading-secondary {
    font-size: 8rem;
    margin-bottom: 0;
  }
  .header-thertiary {
    font-size: 3rem;
    text-align: center;
  }
  .paragraph {
    font-size: 3rem;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
  }
  .btn-white {
    margin-top: 5rem;
  }
  .btn {
    font-size: 3.5rem;
    padding: 2rem 4.5rem;
  }
  .btn-secondary-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btn-secondary {
    font-size: 2.5rem;
  }
  .section-about__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 7rem;
    -ms-grid-rows: 80rem 7rem 40rem;
    grid-template-rows: 80rem 40rem;
  }
  .section-about__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section-about__grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section-about .heading-thertiary:not(:first-child) {
    margin-top: 8rem;
  }
  .composition__photo {
    -webkit-transition: opacity 0.5s, outline 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, outline 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s, outline 0.5s;
    transition: transform 0.5s, opacity 0.5s, outline 0.5s;
    transition: transform 0.5s, opacity 0.5s, outline 0.5s,
      -webkit-transform 0.5s;
    width: 50%;
  }
  .composition__photo--p1 {
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem);
  }
}
.composition__photo--p1 {
  top: 5rem;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.composition__photo--p2 {
  top: 5rem;
  right: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.composition__photo--p3 {
  top: 10rem;
  left: 23%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.book,
.card__side,
.feature-box,
.story__caption,
.story__image {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.composition__photo:hover {
  outline-color: #720058;
  -webkit-transform: scale(1.1) translateY(-0.5rem);
  -ms-transform: scale(1.1) translateY(-0.5rem);
  transform: scale(1.1) translateY(-0.5rem);
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.section-features__row {
  padding: 15rem 0;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
  .main-img {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    top: 10rem;
    width: 35rem;
    height: 35rem;
    -webkit-animation: 1.5s ease-in-out main-img-anim-phone;
    animation: 1.5s ease-in-out main-img-anim-phone;
  }
  .section-features {
    min-height: 100vh;
  }
  .section-features__row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
  }
}
.section-features__col {
  width: 100%;
  height: 100%;
}
.feature-box {
  min-height: 100% !important;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--a)),
    color-stop(transparent),
    to(#ff06ff)
  );
  background-image: -o-linear-gradient(var(--a), transparent, #ff06ff);
  background-image: linear-gradient(var(--a), transparent, #ff06ff);
  width: 100%;
  -webkit-animation: 4s linear infinite featureBoxAnim;
  animation: 4s linear infinite featureBoxAnim;
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  height: 39rem;
  z-index: 100;
}
.feature-box__icon,
.icon-anim {
  -webkit-animation: 7s linear infinite both bulb-2;
  animation: 7s linear infinite both bulb-2;
}
.feature-box::before {
  content: "";
  height: 98%;
  width: 96%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(2%, 1%);
  -ms-transform: translate(2%, 1%);
  transform: translate(2%, 1%);
  background-color: #000;
  color: #000;
  z-index: -1;
}
.feature-box__icon {
  height: 8rem;
  width: 12rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff06ff),
    to(#470034)
  );
  background: -o-linear-gradient(left, #ff06ff, #470034);
  background: linear-gradient(to right, #ff06ff, #470034);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card__heading,
.card__price-box,
.section-book .heading-secondary {
  color: #fff;
}
.feature-box__text {
  text-align: center;
  text-wrap: balance;
  text-transform: none;
}
.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.05) !important;
  -ms-transform: translateY(-1.5rem) scale(1.05) !important;
  transform: translateY(-1.5rem) scale(1.05) !important;
}
.icon-anim {
  fill: #a91079;
}
.node,
.react {
  height: 7rem;
  width: 7rem;
  margin: 0.5rem 0;
}
.section-projects {
  background-color: #f7f7f7;
  margin-top: -19rem;
  padding: 8rem 2rem 20rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(3, 6, 55, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/section-project-background.webp");
  background-image: -o-linear-gradient(
      left top,
      rgba(3, 6, 55, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/section-project-background.webp");
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 6, 55, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/section-project-background.webp");
  background-size: cover;
  -webkit-clip-path: polygon(0 13%, 100% 0%, 100% 85%, 0 100%);
  clip-path: polygon(0 13%, 100% 0%, 100% 85%, 0 100%);
}
@media (max-width: 1200px) {
  .section-projects {
    margin-top: -35rem;
    padding-top: 15rem;
  }
}
.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 45rem;
}
@media (max-width: 600px) {
  .primery-title--sub {
    letter-spacing: 0.8rem;
    font-size: 4rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -3rem;
  }
  .section-features__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 8rem;
    padding: 3rem;
  }
  .section-projects {
    -webkit-clip-path: none;
    clip-path: none;
    margin-top: 0;
  }
  .card {
    height: 4rem;
  }
  .section-stories {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10rem;
  }
}
.card__side {
  height: 45rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #11122b;
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  margin: 0 auto;
}
.card__side--back-1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#0059ff),
    to(#2e0249)
  );
  background-image: -o-linear-gradient(left top, #0059ff, #2e0249);
  background-image: linear-gradient(to right bottom, #0059ff, #2e0249);
}
.card__side--back-2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7edf6f),
    to(#28b485)
  );
  background-image: -o-linear-gradient(left top, #7edf6f, #28b485);
  background-image: linear-gradient(to right bottom, #7edf6f, #28b485);
}
.card__side--back-3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff06ff),
    to(#470034)
  );
  background-image: -o-linear-gradient(left top, #ff06ff, #470034);
  background-image: linear-gradient(to right bottom, #ff06ff, #470034);
}
.card__side--back-4 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#af24eb),
    to(#280238)
  );
  background-image: -o-linear-gradient(left top, #af24eb, #280238);
  background-image: linear-gradient(to right bottom, #af24eb, #280238);
}
.card__side--back-5 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(brown),
    to(#000)
  );
  background-image: -o-linear-gradient(left top, brown, #000);
  background-image: linear-gradient(to right bottom, brown, #000);
}
.card__side--back-6 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#28b485),
    to(#012b12)
  );
  background-image: -o-linear-gradient(left top, #28b485, #012b12);
  background-image: linear-gradient(to right bottom, #28b485, #012b12);
}
.card__side--back-7 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#0c014d),
    to(#250335)
  );
  background-image: -o-linear-gradient(left top, #0c014d, #250335);
  background-image: linear-gradient(to right bottom, #0c014d, #250335);
}
.card--text {
  text-transform: none;
}
.card__heading,
.card__price-only,
.story__caption {
  text-transform: uppercase;
}
.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#0059ff),
      to(#2e0249)
    ),
    url(../img/traveller-image.jpg);
  background-image: -o-linear-gradient(left top, #0059ff, #2e0249),
    url(../img/traveller-image.jpg);
  background-image: linear-gradient(to right bottom, #0059ff, #2e0249),
    url(../img/traveller-image.jpg);
}
.card__picture--2 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#fbfcc5),
      to(#28b485)
    ),
    url("../img/map.avif");
  background-image: -o-linear-gradient(left top, #fbfcc5, #28b485),
    url("../img/map.avif");
  background-image: linear-gradient(to right bottom, #fbfcc5, #28b485),
    url("../img/map.avif");
}
.card__picture--3 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff06ff),
      to(#470034)
    ),
    url(../img/The-Pig-game.jpg);
  background-image: -o-linear-gradient(left top, #ff06ff, #470034),
    url(../img/The-Pig-game.jpg);
  background-image: linear-gradient(to right bottom, #ff06ff, #470034),
    url(../img/The-Pig-game.jpg);
}
.card__picture--4 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#fff),
      to(#a716e0)
    ),
    url(../img/movieBg.jpg);
  background-image: -o-linear-gradient(left top, #fff, #a716e0),
    url(../img/movieBg.jpg);
  background-image: linear-gradient(to right bottom, #fff, #a716e0),
    url(../img/movieBg.jpg);
}
.card__picture--5 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#000),
      to(#bd6327)
    ),
    url(../img/travelBg.jpg);
  background-image: -o-linear-gradient(left top, #000, #bd6327),
    url(../img/travelBg.jpg);
  background-image: linear-gradient(to right bottom, #000, #bd6327),
    url(../img/travelBg.jpg);
}
.card__picture--6 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#baffb8),
      to(#063b11)
    ),
    url(../img/worldWiseBg.jpg);
  background-image: -o-linear-gradient(left top, #baffb8, #063b11),
    url(../img/worldWiseBg.jpg);
  background-image: linear-gradient(to right bottom, #baffb8, #063b11),
    url(../img/worldWiseBg.jpg);
}
.card__picture--7 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#2516ff),
      to(#170250)
    ),
    url(../img/reactBg.jpg);
  background-image: -o-linear-gradient(left top, #2516ff, #170250),
    url(../img/reactBg.jpg);
  background-image: linear-gradient(to right bottom, #2516ff, #170250),
    url(../img/reactBg.jpg);
}
.card__heading {
  text-align: right;
  font-size: 2.6rem;
  font-weight: 300;
  position: absolute;
  top: 12rem;
  right: 1rem;
  width: 60%;
}
.card__price-box,
.footer__logo-box,
.story__caption {
  text-align: center;
}
.card__heading--span {
  padding: 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading--span-1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 89, 255, 0.8)),
    to(rgba(46, 2, 73, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 89, 255, 0.8),
    rgba(46, 2, 73, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 89, 255, 0.8),
    rgba(46, 2, 73, 0.8)
  );
}
.card__heading--span-2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(251, 252, 197, 0.8)),
    to(rgba(40, 180, 133, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(251, 252, 197, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(251, 252, 197, 0.8),
    rgba(40, 180, 133, 0.8)
  );
}
.card__heading--span-3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 6, 255, 0.8)),
    to(rgba(71, 0, 52, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 6, 255, 0.8),
    rgba(71, 0, 52, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(255, 6, 255, 0.8),
    rgba(71, 0, 52, 0.8)
  );
}
.card__heading--span-4 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(90, 2, 124, 0.8)),
    to(rgba(60, 7, 83, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(90, 2, 124, 0.8),
    rgba(60, 7, 83, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(90, 2, 124, 0.8),
    rgba(60, 7, 83, 0.8)
  );
}
.card__heading--span-5 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(165, 42, 42, 0.8)),
    to(rgba(95, 38, 5, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(165, 42, 42, 0.8),
    rgba(95, 38, 5, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(165, 42, 42, 0.8),
    rgba(95, 38, 5, 0.8)
  );
}
.card__heading--span-6 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(60, 150, 90, 0.8)),
    to(rgba(0, 87, 58, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(60, 150, 90, 0.8),
    rgba(0, 87, 58, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(60, 150, 90, 0.8),
    rgba(0, 87, 58, 0.8)
  );
}
.card__heading--span-7 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(28, 0, 73, 0.8)),
    to(rgba(4, 43, 216, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(28, 0, 73, 0.8),
    rgba(4, 43, 216, 0.8)
  );
  background-image: linear-gradient(
    to right,
    rgba(28, 0, 73, 0.8),
    rgba(4, 43, 216, 0.8)
  );
}
.card__details {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  font-weight: 700;
}
.card__details ul li {
  padding: 0.9rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card__price-only {
  font-size: 1.4rem;
  font-weight: 300;
}
.card__price-value {
  font-family: Roboto;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: transparent;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card:hover .card__side--front,
  .card__side--front {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem;
    margin-top: 3rem;
  }
  .card__cta {
    position: relative;
    top: -13rem;
    left: 0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 900px),
  only screen and (hover: none) and (max-width: 900px) {
  .card__side--back {
    height: 18rem;
  }
}
.section-stories {
  margin-top: -16rem;
  -webkit-clip-path: polygon(0 15rem, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15rem, 100% 0, 100% 100%, 0 100%);
  padding-top: 15rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.tech__box {
  margin: 0 auto 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5rem;
}
.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2e0249),
    color-stop(0.8),
    color-stop(#11122b),
    to(0.8)
  );
  background-image: -o-linear-gradient(#2e0249, 0.8, #11122b, 0.8);
  background-image: linear-gradient(#2e0249, 0.8, #11122b, 0.8);
}
.bg__video-content {
  opacity: 1;
  background-size: auto;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
}
.story {
  margin: 0 auto;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3rem 6rem rgba(255, 6, 255, 0.3);
  box-shadow: 0 3rem 6rem rgba(255, 6, 255, 0.3);
  padding: 3rem 2rem 3rem 9rem;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  transform: skewX(-12deg);
}
.story > * {
  -webkit-transform: skewX(12deg);
  -ms-transform: skewX(12deg);
  transform: skewX(12deg);
}
.story__shape {
  height: 15rem;
  width: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
  -ms-transform: translateX(-3rem) skewX(12deg);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__image {
  height: inherit;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.story:hover .story__image {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(2px) brightness(80%);
  filter: blur(2px) brightness(80%);
}
.section-book {
  -webkit-clip-path: none;
  clip-path: none;
  margin: 0;
  padding: 15rem;
  background-color: #a91079;
}
.form__group:not(:last-child),
.form__textArea {
  margin-bottom: 2rem;
}
.book {
  height: 50rem;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #2e0249),
    color-stop(50%, #f7f7f7)
  );
  background-image: -o-linear-gradient(left, #2e0249 50%, #f7f7f7 50%);
  background-image: linear-gradient(90deg, #2e0249 50%, #f7f7f7 50%);
  background-size: cover;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
.book__form {
  width: 50%;
  padding: 6rem;
}
.form__input,
.form__textArea {
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.form__textArea {
  height: 30rem;
  font-size: 1.5rem;
  background-color: rgba(46, 2, 73, 0.1);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  position: absolute;
  right: -125%;
  top: 0;
}
.form__textArea:focus {
  outline: 0;
}
.form__input {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
}
.form__input:focus {
  outline: 0;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #28b485;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7300;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__label {
  margin-top: 0.5rem;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
}
.form__radio-group {
  display: inline-block;
  width: 30%;
}
.form__radio-label {
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  padding-left: 4rem;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.4rem solid #ff06ff;
  display: inline-block;
  position: absolute;
  top: -0.7rem;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  background-color: #ff06ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__radio-input {
  opacity: 0;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.share-thought-btn {
  -webkit-transform: translateX(160%);
  -ms-transform: translateX(160%);
  transform: translateX(160%);
}
.footer {
  font-size: 1.2rem;
  background-color: #11122b;
  padding: 8rem 8rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem;
}
.footer__copyright,
.footer__navigation {
  padding-top: 2rem;
  border-top: 1px solid #777;
}
@media (max-width: 1200px) {
  .section-stories {
    -webkit-clip-path: polygon(0 18rem, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 18rem, 100% 0, 100% 100%, 0 100%);
    margin-top: -20rem;
  }
  .section-book {
    padding: 12rem 8rem;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .form__textArea {
    right: -130%;
  }
  .footer {
    font-size: 2rem;
  }
}
.footer__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__logo {
  width: 25rem;
  height: auto;
}
.footer__navigation {
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer-item:not(:last-child) {
  margin-right: 1rem;
}
.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  background-color: #11122b;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:active,
.footer__link:hover {
  color: #ff06ff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.2) rotate(-5deg);
  -ms-transform: scale(1.2) rotate(-5deg);
  transform: scale(1.2) rotate(-5deg);
}
.footer__copyright {
  display: inline-block;
}
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@supports (
  (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content,
.popup__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.popup__content {
  width: 70%;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transition: 0.5s 0.2s;
  -o-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
}
.popup__left {
  width: 34%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0 2rem 2rem;
}
.popup__right {
  width: 66%;
  display: table-cell;
  vertical-align: middle;
  padding: 5rem;
  position: relative;
}
@media (max-width: 900px) {
  .composition__photo--p2 {
    -webkit-transform: translateX(-5rem);
    -ms-transform: translateX(-5rem);
    transform: translateX(-5rem);
  }
  .section-features {
    min-height: 120vh;
  }
  .feature-box {
    padding: 5rem;
    height: auto;
    font-size: 3rem;
  }
  .feature-box__icon {
    width: 12rem;
    height: 12rem;
  }
  .feature-box:hover {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  .node,
  .react {
    height: 12rem;
    width: 12rem;
  }
  .card__heading {
    font-size: 4rem;
  }
  .card__details {
    font-size: 2.5rem;
  }
  .section-stories {
    -webkit-clip-path: none;
    clip-path: none;
    margin-top: 0;
  }
  .story {
    width: 85%;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
  }
  .story > * {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
  }
  .story__shape {
    -webkit-transform: translateX(-3rem) skewX(0);
    -ms-transform: translateX(-3rem) skewX(0);
    transform: translateX(-3rem) skewX(0);
  }
  .story__text h3 {
    font-size: 2.5rem;
    text-wrap: pretty;
  }
  .story__text p {
    font-size: 2.5rem;
    text-wrap: stable;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .section-book {
    padding: 18rem 8rem;
  }
  .book {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(46, 2, 73, 0.9)),
      to(#2e0249)
    );
    background-image: -o-linear-gradient(left, rgba(46, 2, 73, 0.9), #2e0249);
    background-image: linear-gradient(to right, rgba(46, 2, 73, 0.9), #2e0249);
    background-size: cover;
    height: 100%;
  }
  .book__form {
    width: 100%;
    text-align: center;
  }
  .form__textArea {
    position: static;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
  }
  .form__input {
    font-size: 3rem;
    width: 100%;
  }
  .form__label {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .form__radio-group {
    width: 40%;
  }
  .form__radio-label {
    font-size: 3rem;
  }
  .form__radio-button {
    top: -0.4rem;
    height: 4rem;
    width: 4rem;
    left: -1rem;
  }
  .form__radio-button::after {
    height: 2rem;
    width: 2rem;
  }
  .share-thought-btn {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .footer__copyright {
    margin-left: 0;
  }
  .popup__content {
    width: 85%;
  }
  .popup__left {
    background-color: transparent;
    width: 34%;
    display: none;
  }
  .popup__right {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem;
  }
  .popup__right .heading-secondary {
    font-size: 4.5rem;
    text-wrap: nowrap;
    margin-bottom: 1rem;
  }
  .popup__right .heading-thertiary {
    font-size: 2rem;
    text-wrap: nowrap;
  }
}
@media (max-width: 900px) {
  .popup__right p {
    text-align: left;
    font-size: 2rem;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .popup__right .heading-secondary {
    font-size: 6rem;
  }
  .popup__right .heading-thertiary {
    font-size: 3rem;
  }
  .popup__right p {
    font-size: 2.3rem;
  }
}
.popup__img {
  width: 90%;
  height: 90%;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  -webkit-column-rule: 1px solid #eee;
  -moz-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.popup__close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  color: #777;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .popup__img {
    float: left;
    width: 50%;
  }
  .popup__close {
    z-index: 1000;
    font-size: 5rem;
    border-radius: 50%;
  }
}
.popup__close:hover {
  color: #bd0000;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
